main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

main, html {
    min-height: calc(100vh - 337.7px);
}

body {
    background-color: #f4f4f4;
    font-family: 'Jost';
    color: #515151;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: 700;
    font-size: 26px;
}

h2 {
    text-transform: capitalize;
}

p {
    font-weight: 400;
    font-size: 16px;
}

th {
    font-weight: 500;
    font-size: 14px;
    color: #515151;
    text-align: left;
    padding-right: 50px;
    padding-bottom: 20px;
}

td {
    font-weight: 400;
    font-size: 14px;
    color: #9b9b9b;
    text-align: left;
    padding-bottom: 20px;
}

.header {
    display: grid;
    height: 200px;
    width: auto;
    position: sticky;
    display: flex;
    align-items: center;
}

.logo-area {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;  
    align-items: center;
    justify-content: center; 
    gap: 14px;
    padding-top: 20px;
}

.logo {
    width: 160px;
    padding-top: 16px;
    padding-bottom: 20px;
}

#searchArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.main-card-area {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
    min-height: 1700px;
}

#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-spinner.hidden {
    display: none;
}

.loading-spinner-circle {
    position: relative;
    width: 100px;
    height: 100px;
    background: conic-gradient(#f4f4f4, #dedede, #bdbdbd);
    border-radius: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-spinner-circle::after {
    position: absolute;
    inset: 0;
    content: '';
    background: #f4f4f4;
    border-radius: 50%;
    transform: scale(.8);
}

.loading {
    display: flex;
    animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load-button-area {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 40px;
    padding-bottom: 60px;
}

.footer-ball{
    height: 22px; 
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 100px;
}