dialog {
  position: relative;
  overflow: hidden;
  border: none;
  width: 450px;
  height: 650px;
  border-radius: 12px;
  background-color: #d9d0bd;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

dialog::backdrop {
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

dialog::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../assets/icons/pokeball.svg') no-repeat left 110px top 16px;
  background-size: 80%;
  opacity: 0.072;
  pointer-events: none;
  z-index: 0;
}

.close-area {
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 16px; 
  height: 30px;
}

.close-button {
  height: 36px;
  cursor: pointer;
}

.pokemon-number-detail-card {
  position: relative;
  z-index: 1;
  font-size: 18px;
  color: white;
  text-align: left;
  padding-left: 20px;
  padding-top: 60px;
}

.pokemon-name-detail-card {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 32px;
  color: white;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.type-area-detail-card {
  display: flex;
  justify-content: start;
  padding-left: 20px;
  gap: 6px;
}

.pokemon-type-button-detail-card {
  position: relative;
  z-index: 1;
  border: none;
  padding: 4px 14px;
  font-size: 16px;
  border-radius: 25px;
  color: #515151;
  font-family: "Jost";
  font-weight: 300;
  font-size: 13px;
  background-color: rgb(255, 255, 255);
}

.arrow-area {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin: 0 20px;
}

.arrow-icon {
  height: 20px;
  cursor: pointer;
}

.white-area {
  position: absolute;
  top: 295px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 355px;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  z-index: 1;
}

/* Menu */

.menu-detail-card {
  padding-left: 100px;
  padding-top: 80px;
  width: 450px;
  height: 40px;
}

.menu-detail-card ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu-detail-card li {
  display: inline;
}

.menu-detail-card a {
  position: relative;
  z-index: 1;
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 600;
}

.menu-detail-card a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background-color: #f1f1f1;
  border-radius: 25px;
}

.menu-detail-card a:hover::after {
  width: 100%;
}

/* Tabs */

.tab-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 390px;
  left: 100px;
  right: 0;
  bottom: 0;
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 400;
}

.tab-content.active {
  display: block;
}

/* About Content */

.table {
  text-align: left;
}

/* Stats Content */

.progress-wrapper {
  width: 250px;
}

.bar-info {
  font-weight: 500;
  font-size: 14px;
  color: #515151;
  text-align: left;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #f1f1f1;
  border-radius: 25px;
  margin-top: 2px;
  margin-bottom: 12px;
}

.progress-bar span {
  position: absolute;
  height: 8px;
  border-radius: 25px;
  width: 20%;
  background-color: #c8c8c8;
  transform: scale(0);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100%{
    transform: scale(1);
  }
}
