@media (max-width: 1440px) {
    .main-card-area {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1310px) {
    .main-card-area {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1050px) {
    .main-card-area {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 790px) {
    .main-card-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 540px) {
    .main-card-area {
        grid-template-columns: 1fr;
    }

    .alertContainer {
        padding-bottom: 30px;
    }
}

@media (max-width: 490px) {
    dialog {
        width: 280px;
        height: 570px;
    }

    dialog::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url('../assets/icons/pokeball.svg') no-repeat left 50px top 10px;
        background-size: 100%;
        opacity: 0.072;
        pointer-events: none;
        z-index: 0;
    }

    .detail-card-background {
        height: 310px;
    }

    .pokemon-number-detail-card {
        text-align: center;
        padding-top: 35px;
        padding-left: 0px;
    }

    .pokemon-name-detail-card {
        font-size: 28px;
        text-align: center;
        padding-top: 6px;
        padding-bottom: 8px;
        padding-left: 0px;
    }

    #pokemonImgDetailCard {
        top: 155px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
    }

    #pokemonImgDetailCard img {
        max-width: 120px;
        max-height: 120px;
        display: block;
    }

    .type-area-detail-card {
        display: flex;
        justify-content: center;
        gap: 6px;
        padding-left: 0px;
    }

    .arrow-area {
        padding-top: 60px;
    }

    .white-area {
        top: 290px;
        height: 325px;
    }

    .menu-detail-card {
        padding-left: 30px;
        padding-top: 0px;
        width: 280px;
    }

    .menu-detail-card ul {
        list-style: none;
        display: flex;
        gap: 16px; 
    }

    .menu-detail-card button {
        font-size: 15px;
        font-weight: 500;
    }

    .tab-content {
        top: 350px;
        left: 30px;
    }

    th {
        font-weight: 500;
        font-size: 14px;
        color: #515151;
        text-align: left;
        padding-right: 24px;
        padding-bottom: 16px;
    }

    td {
        padding-bottom: 16px;
    }

    .progress-wrapper {
        width: 215px;
        height: 220px;
        margin-top: 2px;
    }

    .progress-bar {
        margin-bottom: 8px;
    }
}

@media (max-width: 360px) {
    #searchArea {
        display: flex;
        flex-direction: column;
    }
}