@media (max-width: 1440px) {
    .main-card-area {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1310px) {
    .main-card-area {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1050px) {
    .main-card-area {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 790px) {
    .main-card-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 540px) {
    .main-card-area {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 360px) {
    #searchArea {
        display: flex;
        flex-direction: column;
    }
}